/* This are comments */

/* Main Section */
body {background-color: #F2F2F2; }


#page-wrapper {
  width: 80%;
  margin: 0px auto;
  height: fit-content;
  font-family: "Inter", sans-serif;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li { 
  display: inline ;
  padding: 0px 24px;
}
button {
border-radius: 36%;
font-size:xx-large;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 120px 60px;
  width: 1280px;
  height: 842px;
  
}

.intro img {
  border-radius: 10%;
}

.intro p {
  margin: 60px 0;
}

.intro h1 {
font-size: xx-large;
}

.intro button {

}

.my-works-header {
text-align: center;
margin: 20px 0;
}

.image-row {
display: flex;
justify-content:space-around;
flex-wrap: wrap;
gap: 20px;
}

.card {
background-color: #F2F2F2;
border-radius: 10px;
box-shadow: 0 2px 10px gray;
max-width: 200px;
text-align:left;
overflow: hidden;
}

.card-image {
width: 200px;
height: 300px;
}

.card-image-1 {
width:auto;
height:fit-content;
}


/* About Section */




/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* css reset end */